html, body, .page {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
  -webkit-transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
  -moz-transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
  -o-transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
  /*color: #fff;*/
  overflow-x:scroll;
  overflow-x: hidden;
  background-image: url('/images/stars.gif');background-image: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 500px;
     height: 100%;
}

* {
  font-family: 'open sans', 'lato', 'helvetica', sans-serif;
}

.page {
  position: absolute;
}

#p1 {
  left: 0;
}

#p2, #p3, #p4, #p5 {
  left: 200%;
}

#p1 { background-image: url('/images/flowerpiano3.jpg');
background-image: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 500px;
   height: 100%;
}
#p2 {
  }
#p3 { background: gold; }
#p4 { background-image: url('/images/flowers2.jpeg');
background-image: no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
/*min-height: 500px;*/
 height: 100%;
}
#p5 { background: darkslateblue;}



#t2:target #p2,
#t3:target #p3,
#t4:target #p4,
#t5:target #p5,
#t6:target #p6,
#t7:target #p7  {
  transform: translateX(-190%);
  -webkit-transform: translateX(-190%);
  -moz-transform: translateX(-190%);
  -o-transform: translateX(-190%);
  transition-delay: .4s !important;
}

#t2:target #p1,
#t3:target #p1,
#t4:target #p1,
#t5:target #p1{
  background: black;
}

#t2:target #p1 .icon,
#t3:target #p1 .icon,
#t4:target #p1 .icon,
#t5:target #p1 .icon {
  -webkit-filter: blur(3px);
}

.icon {
  color: #fff;
  font-size: 32px;
  display: block;
}

ul .icon:hover {
  opacity: 0.5;
}

.page .icon .title {
  line-height: 2;
}

#t2:target ul .icon,
#t3:target ul .icon,
#t4:target ul .icon,
#t5:target ul .icon{
  transform: scale(.6);
  -webkit-transform: scale(.6);
  -moz-transform: scale(.6);
  -o-transform: scale(.6);
  transition-delay: .25s;
}

#t2:target #two,
#t3:target #three,
#t4:target #four,
#t5:target #five {
  transform: scale(1.2) !important;
  -webkit-transform: scale(1.2) !important;
  -moz-transform: scale(1.2) !important;
  -o-transform: scale(1.2) !important;
}

ul {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 280px;
  width: 10%;
  padding: 0;
  text-align: center;
 }

#menu .icon {
  margin: 30px 0;
  transition: all .5s ease-out !important;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
}

a {
  text-decoration: none;
}

.title, .hint {
  display: block;
}

.title {
  font-size: 38px;
}

.hint {
  font-size: 13px;
}

#p4 .hint {
  display: inherit !important;
}

.hint a {
  color: yellow;
  transition: all 250ms ease-out;
  -webkit-transition: all 250ms ease-out;
  -moz-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
}

.hint a:hover {
  color: #FFF;
}

.line-trough {
  text-decoration: line-through;
}

.page .icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10%;
  left: 0;
  width: 270px;
  height: 130px;
  margin: auto;
  text-align: center;
  font-size: 80px;
  line-height: 1.3;
  transform: translateX(360%);
  -webkit-transform: translateX(360%);
  -moz-transform: translateX(360%);
  -o-transform: translateX(360%);
  transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
  -webkit-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
  -moz-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
  -o-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
}

.page#p1 .icon {
  height: 220px;
}

.page#p1 .icon {
  transform: translateX(10%) !important;
}

#t2:target .page#p2 .icon,
#t3:target .page#p3 .icon,
#t4:target .page#p4 .icon,
#t5:target .page#p5 .icon {
  transform: translateX(0) !important;
  -webkit-transform: translateX(0) !important;
  -moz-transform: translateX(0) !important;
  -o-transform: translateX(0) !important;
  transition-delay: 1s;
}

/*p1*/

.metStory{
  text-shadow: 1px 1px 20px rgba(0, 16, 101, 1);
}

.storyTitle{
  text-decoration:underline;
  text-shadow: 1px 1px 20px rgba(0, 16, 101, 1);
  font-weight: bold;
}

#stars{
  height: 20px;
  width:100%;
  background-image: url('/images/stars.gif');
}

#stringLights{
  background-image: url('/images/lights.png');
  background-image: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 500px;
  height:10px;
  width:100%;
}


.scrollTitle{
  background-image: url('/images/piano-text.jpg');
text-shadow: 0px 0px 14px rgba(0, 16, 37, 1);
}

/*scroll box wedding*/
.scrollArea {
width: 520px;
height: 350px;
margin-top: 15px;
padding-left: 5px;
padding-right: 5px;
border-color: #fff;
border-width: 1px;
border-style: solid;
float: left;
overflow-y: scroll;
text-align: center;
margin-left: -30px;
-webkit-box-shadow: inset -8px -24px 300px 78px rgba(0,0,0,0.83);
-moz-box-shadow: inset -8px -24px 300px 78px rgba(0,0,0,0.83);
box-shadow: inset -8px -24px 300px 78px rgba(0,0,0,0.83);

}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
	background: rgba(255,255,255,0.5);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}


iframe {
  width:520px;
  height: 360px;
  text-align: center;
  margin-left: -30px;
  margin-right: 500%;
  float: left;
}

/*p2*/


/*rsvp header*/
@import url(https://fonts.googleapis.com/css?family=Varela+Round);

rsvpHeader {
  background: hsla(0, 0%, 0%, .9);
}

h2 {
  color: hsla(0, 100%, 0%, .9);
  font: normal Varela Round, sans-serif;
  letter-spacing: 5px;
  position: absolute;
  top: 30%;
  width: 100%;
  animation: move linear 2000ms infinite;
}

@keyframes move {
  0% {
    text-shadow:
      4px -4px 0 hsla(200, 100%, 50%, 1),
      3px -3px 0 hsla(200, 100%, 50%, 1),
      2px -2px 0 hsla(200, 0%, 50%, 1),
      1px -1px 0 hsla(200, 100%, 50%, 1),
      -4px 4px 0 hsla(300, 100%, 50%, 1),
      -3px 3px 0 hsla(300, 0%, 50%, 1),
      -2px 2px 0 hsla(300, 100%, 50%, 1),
      -1px 1px 0 hsla(300, 100%, 50%, 1)
    ;
  }
  25% {
    text-shadow:
      -4px -4px 0 hsla(300, 0%, 50%, 1),
      -3px -3px 0 hsla(300, 100%, 50%, 1),
      -2px -2px 0 hsla(300, 100%, 50%, 1),
      -1px -1px 0 hsla(300, 100%, 50%, 1),
      4px 4px 0 hsla(290, 0%, 50%, 1),
      3px 3px 0 hsla(290, 100%, 50%, 1),
      2px 2px 0 hsla(290, 100%, 50%, 1),
      1px 1px 0 hsla(290, 0%, 50%, 1)
    ;
  }
  50% {
    text-shadow:
      -4px 4px 0 hsla(300, 100%, 50%, 1),
      -3px 3px 0 hsla(300, 100%, 50%, 1),
      -2px 2px 0 hsla(300, 100%, 50%, 1),
      -1px 1px 0 hsla(300, 100%, 50%, 1),
      4px -4px 0 hsla(280, 100%, 50%, 1),
      3px -3px 0 hsla(280, 100%, 50%, 1),
      2px -2px 0 hsla(280, 100%, 50%, 1),
      1px -1px 0 hsla(280, 0%, 0%, 1)
    ;
  }
  75% {
    text-shadow:
      4px 4px 0 hsla(200, 0%, 50%, 1),
      3px 3px 0 hsla(200, 100%, 50%, 1),
      2px 2px 0 hsla(200, 0%, 50%, 1),
      1px 1px 0 hsla(200, 100%, 50%, 1),
      -4px -4px 0 hsla(300, 100%, 50%, 1),
      -3px -3px 0 hsla(280, 100%, 50%, 1),
      -2px -2px 0 hsla(280, 100%, 50%, 1),
      -1px -1px 0 hsla(290, 0%, 50%, 1)
    ;
  }
  100% {
    text-shadow:
      4px -4px 0 hsla(300, 0%, 50%, 0),
      3px -3px 0 hsla(300, 100%, 50%, 1),
      2px -2px 0 hsla(300, 0%, 0%, 1),
      1px -1px 0 hsla(300, 100%, 50%, 1),
      -4px 4px 0 hsla(300, 0%, 50%, 1),
      -3px 3px 0 hsla(300, 100%, 50%, 1),
      -2px 2px 0 hsla(300, 0%, 50%, 1),
      -1px 1px 0 hsla(300, 100%, 50%, 1)
    ;
  }
}

/* canvas moving background */
#prettyBox{
  width: 90%;
  height: 110%;
  background-image: url('/images/fromeFlowers.png');
  background-image: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-55%, -55%);
}

canvas {
	background: #D3D3D3;
}

#bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

#bg canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*envelope*/
#envelope  {
  background: #f08080;
   width: 300px;
   height: 150px;
   position: absolute;
   left: 50%;
   top: 65%;
   margin-left: -150px;
   margin-top: -0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.5);
}

#lid {

  position: relative;
  top: -150px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 150px 150px 150px;
  border-color: transparent transparent #f08080 transparent;
}


#letter {
  position: relative;
  background: #adbce6;
  background-image: url('/images/purple.jpg');
  background-image: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  top: -150px;
  width: 280px;
  height: 150px;
  left: 10px;
  top: -200px;
  animation: out 5s infinite linear;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  text-align: center;
  font-style: italic;
  font-size: 20px;
}


#left-corner {
  position: relative;
  top: -315px;
  left: 10px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 150px 0 0 250px;
  border-color: transparent transparent transparent #f08080;

}

#right-corner {
  position: relative;
  top: -470px;
  left: 50px;
  width: 0px;
height: 0px;
border-style: solid;
border-width: 0 0 150px 250px;
border-color: transparent transparent #f08080 transparent;
}

@keyframes out {
	0% {top: -200px;}
  25% {top: -300px;}
  50% {top: -200px;}
  75% {top: -300px;}
}

/*p4*/





/*p4*/

/*image settings*/
@import url(https://fonts.googleapis.com/css?family=Anaheim);

.confetti{
background-image: url('/images/confetti.webp');
}

#p4Title {
  background-image: url('/images/sunset.jpg');
  background-image: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color:white;
  text-shadow: 1px 1px 1px #000, 3px 3px 5px blue;
}

#uploadTitle{
color: white;
background-color: white;
height:20px;
width:20px;
}

*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
	box-sizing: border-box;
}
*:before,
*:after{
	box-sizing: border-box;
}
html,
body{
	min-height: 100%;
}

/*img{
	-webkit-filter: grayscale(1);
	cursor: pointer;
	transition: all .5s ease;
}*/
img:hover{
	-webkit-filter: grayscale(0);
  transform: scale(1.2,1.2);
}

/*upload button*/
#click{
  background-color: pink;
  height: 30px;
  width: 100px;
  padding-top: 5px;
  margin-top: 5px;
}

#click:hover{
  background-color: green;
}

#uploadBackground {
  height: 70px;
  width:100%;
  -webkit-box-shadow: inset -19px -12px 300px -2px rgba(245,206,245,0.86);
  -moz-box-shadow: inset -19px -12px 300px -2px rgba(245,206,245,0.86);
  box-shadow: inset -19px -12px 300px -2px rgba(245,206,245,0.86);
  display: block center;
  margin-bottom: 10px;
  text-align: center;
 /*margin-top: 1%;*/
  font-weight: bold;
   font-weight: bold;

}

/*.uploadButton {
   color: white;
   padding: 15px 32px;
   text-decoration: none;
   font-size: 16px;
   font-weight: bold;

   margin-bottom: 12%;
}*/

.uploadButton:hover {
    background-image:url('/images/confetti.webp');
    color:red;
}

&:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 10%;
  border-radius: 50%;
  background-color: darken(#f1c40f, 20%);
  opacity: 0.4;
  bottom: -30px;
}

/*image slider*/
@import url(http://fonts.googleapis.com/css?family=Varela+Round);

p {
  text-align: center;
}

h1 {
  text-align: center;
  font-style: italic;
}

.slides {
    padding: 0;
    width: 609px;
    height: 420px;
    display: block;
    margin: 0 auto;
    position: relative;
    margin-top: 30px;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: 609px;
    height: 420px;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
}

.nav label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;

	  opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}


.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
	background: rgba(0, 0, 0, 0.8);
}


/*p5*/

/*page nav*/
@import "compass/css3";

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,900);
#p5{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x:hidden;
    font-family:"Lato";
    background: #222;
}
.menu{
    width: 100%;
    height: 50px;
    position: fixed;
    background: #222;
    top: 0;
    z-index:111;
    line-height: 50px;
    padding: 5px;
    border-bottom: 1px solid rgba(207,59,40,0.3);
}
.menu a{
    text-decoration: none;
    color: inherit;
}
.menu h1{
    margin: 0 0 0 10px;
    font-weight: 400;
    color: #eaeaea;
    width: 55px;
    cursor: pointer;
    display: inline-block;
    border-right: 1px solid #444;
    line-height: 50px;
    font-size: 25px;
    transition: all 0.3s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
}
.menu h1 span{
    color: #cf3b28;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
}
.menu h1:hover{
    color:#666;
}
.menu h1:hover span{
    color:#666;
}

.head{
    color: #eaeaea;
    background: #222;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 60px;
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index:1111;
    text-align: center;
    line-height: 25px;
    transition: all 0.5s;;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
.head-hide{
    height: 0vh;
    opacity: 0;
}
.down{
    width: 20px;
    height: 20px;
    opacity: 0.2;
    border-bottom: 5px solid #cf3b28;
    border-right: 5px solid #cf3b28;
    position: absolute;
    bottom: 13px;
    left: 50%;
    cursor: pointer;
    transform: rotate(45deg);
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
}
.down:before{
    content:"scroll";
    opacity: 0;
    position: absolute;
    right: -10px;
    top: -10px;
    font-size: 15px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.down:hover:before{
    opacity: 1;
}
.head span{
    font-weight: 900;
}
.name{
    width: 500px;
    top: 50%;
    position: absolute;
    left: 50%;
    margin-left: -250px;
    margin-top: -30px;
}
.bye{
    position:relative;
}
.sub-name{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 7px;
    font-weight: 300;
    margin-left: 23px;
    color: #cf3b28;
    font-size: 35px;
}
.content-wrap{
    position:absolute;
    z-index:1;
}
.sec{
    height: 100vh;
    width: 100vw;
}
.intro{
    background: #333;
    color:#eaeaea;
    text-align:center;
    display:table;
    text-transform:uppercase;
}
.intro .text-contain{
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    padding-left: 10px;
}
.intro .text{
    padding-top: 30px;
    text-align: center;
    width: 470px;
    margin: 0 auto;
}
.intro h2{
    vertical-align:middle;
    font-size: 40px;
    margin: -5px 0 ;
}
.intro h3{
    font-weight: 300;
    color:#cf3b28;
    font-size: 19px;
    letter-spacing: 0.5px;
    margin: 0 0 0px 0;
}
.intro h5{
    font-weight: 900;
    color:#1e1e1e;
    margin: 0;
    font-size: 15px;
    letter-spacing: 3.9px;
}
#bot-h5{
    color: #eaeaea;
    font-weight: 300;
    letter-spacing: 10px;
    margin-top: 30px;
}
.pg-btn{
    width: 150px;
    height: 15px;
    line-height: 15px;
    border-bottom: 1px solid #eaeaea;
    padding: 10px 0;
    cursor: pointer;
    font-weight: 300;
    font-size: 15px;
}
.begin{
    margin: 30px auto;
     letter-spacing: 5px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
.begin:hover{
    background:#222;
    border-bottom: 1px solid #cf3b28;
    letter-spacing: 6px;
}

.side{
    position:fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 100%;
    z-index:11;
    height: auto;
    overflow-y:scroll;
    overflow-x:hidden;
    background: #eaeaea;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
.unseen{
    display:none;
}
.showing{
    left: 0;
}
.desc{
    margin-top: 60px;
}
.desc h1{
    text-align: right;
    font-size: 30px;
    padding-right:10px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 5px;
    line-height: 45px;
}
.sec-A h1{
    color: #cf3b28;
    border-bottom: 1px solid #cf3b28;
}
.sec-A h1 span{
    font-weight: 300;
    font-size: 25px;
    color: #aaa;
    line-height: 0;
}
.photos ul{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align:center;
}
.photos li{
    text-align: center;
    display: inline-block;
    min-width: 350px;
    margin: 10px;
}
.photos img{
    max-width: 100%;
    height: 600px;
}
.sub-btn{
    margin: 0 auto;
    width: 120px;
    text-align: center;
    text-transform: uppercase;
    height: 15px;
    padding: 10px 0;
    font-weight: 300;
    line-height: 15px;
    font-size: 15px;
    letter-spacing: 3px;
    cursor: pointer;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
.code-btn{
    border-bottom: 1px solid #222;
    background: #eaeaea;
    color: #cf3b28;
}
.code-btn:hover{
    background: #222;
    letter-spacing: 4px;
    border-bottom: 1px solid #cf3b28;
    color: #eaeaea;
}
.back-btn{
    background: #cf3b28;
    color: #eaeaea;
    border-bottom: 1px solid #222;
}
.back-btn:hover{
    background: #eaeaea;
    color: #222;
    letter-spacing: 5px;
}
.sec-B{
    background-image: url('https://png.pngtree.com/thumb_back/fw800/back_pic/04/20/52/65582e493a67967.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 500px;
     height: 100%;
}


.sec-B h1{
    color: #eaeaea;
    border-bottom: 1px solid #eaeaea;
}

/*hearts*/
/*floating hearts*/
/* heart-small */

.heart-small {
  -webkit-animation:heart-small 5s linear infinite;
  animation:heart-small 5s linear infinite;
  position: absolute;
  left: 5%;
}

@keyframes heart-small {
  0%   { top:60%; }
  60%  { top:-15%; }
  61%  { top:100%; opacity: 0; }
  100% { top:60%; }
}

/* heart-small2 */

.heart-small2 {
  -webkit-animation:heart-small2 5s linear infinite;
  animation:heart-small2 5s linear infinite;
  position: absolute;
  left: 8%;
}

@keyframes heart-small2 {
  0%   { top:20%; }
  20%  { top:-15%; opacity: 0; }
  21%  { top:100%; opacity: 0; }
  100% { top:20%; }
}

/* heart-small3 */

.heart-small3 {
  -webkit-animation:heart-small3 5s linear infinite;
  animation:heart-small3 5s linear infinite;
  position: absolute;
  left: 25%;
}

@keyframes heart-small3
{
  0%   { top:105%; }
  98%  { top:-15%; }
  99%  { top:100%; opacity: 0; }
  100% { top:105%; }
}

/* heart-small4 */

.heart-small4 {
  -webkit-animation:heart-small4 5s linear infinite;
  animation:heart-small4 5s linear infinite;
  position: absolute;
  left: 28%;
}

@keyframes heart-small4
{
  0%   { top:40%; }
  40%  { top:-15%; opacity: 0; }
  41%  { top:100%; opacity: 0; }
  100% { top:40%; }
}

/* heart-small5 */

.heart-small5 {
  -webkit-animation:heart-small5 5s linear infinite;
  animation:heart-small5 5s linear infinite;
  position: absolute;
  left: 50%;
}

@keyframes heart-small5
{
  0%   { top:50%; }
  50%  { top:-15%; opacity: 0; }
  51%  { top:100%; opacity: 0; }
  100% { top:50%; }
}

/* heart-small6 */

.heart-small6 {
  -webkit-animation:heart-small6 5s linear infinite;
  animation:heart-small6 5s linear infinite;
  position: absolute;
  left: 70%;
}

@keyframes heart-small6
{
  0%   { top:25%; }
  25%  { top:-15%; opacity: 0; }
  26%  { top:100%; opacity: 0; }
  100% { top:25%; }
}

/* heart-small7 */

.heart-small7 {
  -webkit-animation:heart-small7 5s linear infinite;
  animation:heart-small7 5s linear infinite;
  position: absolute;
  left: 80%;
}

@keyframes heart-small7
{
  0%   { top:50%; }
  50%  { top:-15%; opacity: 0; }
  51%  { top:100%; opacity: 0; }
  100% { top:50%; }
}

/* heart-small8 */

.heart-small8 {
  -webkit-animation:heart-small8 5s linear infinite;
  animation:heart-small8 5s linear infinite;
  position: absolute;
  left: 95%;
}

@keyframes heart-small8
{
  0%   { top:105%; }
  98%  { top:-15%; opacity: 0; }
  99%  { top:100%; opacity: 0; }
  100% { top:105%; }
}


.heart-medium {
  -webkit-animation:heart-medium 4s linear infinite;
  animation:heart-medium 4s linear infinite;
  position: absolute;
  left: 5%;
}

@keyframes heart-medium
{
  0%   { top:105%; }
  98%  { top:-15%; }
  99%  { top:100%; opacity: 0; }
  100% { top:105%; }
}

/* heart-medium2 */

.heart-medium2 {
  -webkit-animation:heart-medium2 4s linear infinite;
  animation:heart-medium2 4s linear infinite;
  position: absolute;
  left: 20%;
}

@keyframes heart-medium2
{
  0%   { top:20%; }
  20%  { top:-15%; opacity: 0; }
  21%  { top:100%; opacity: 0; }
  100% { top:20%; }
}

/* heart-medium3 */

.heart-medium3 {
  -webkit-animation:heart-medium3 4s linear infinite;
  animation:heart-medium3 4s linear infinite;
  position: absolute;
  left: 23%;
}

@keyframes heart-medium3
{
  0%   { top:60%; }
  40%  { top:-15%; opacity: 0; }
  41%  { top:100%; opacity: 0; }
  100% { top:60%; }
}

/* heart-medium4 */

.heart-medium4 {
  -webkit-animation:heart-medium4 4s linear infinite;
  animation:heart-medium4 4s linear infinite;
  position: absolute;
  left: 35%;
}

@keyframes heart-medium4
{
  0%   { top:40%; }
  40%  { top:-15%; opacity: 0; }
  41%  { top:100%; opacity: 0; }
  100% { top:40%; }
}

/* heart-medium5 */

.heart-medium5 {
  -webkit-animation:heart-medium5 4s linear infinite;
  animation:heart-medium5 4s linear infinite;
  position: absolute;
  left: 75%;
}

@keyframes heart-medium5
{
  0%   { top:40%; }
  40%  { top:-15%; opacity: 0; }
  41%  { top:100%; opacity: 0; }
  100% { top:40%; }
}

/* heart-medium6 */

.heart-medium6 {
  -webkit-animation:heart-medium6 4s linear infinite;
  animation:heart-medium6 4s linear infinite;
  position: absolute;
  left: 80%;
}

@keyframes heart-medium6
{
  0%   { top:60%; }
  40%  { top:-15%; opacity: 0; }
  41%  { top:100%; opacity: 0; }
  100% { top:60%; }
}

/* heart-medium7 */

.heart-medium7 {
  -webkit-animation:heart-medium7 4s linear infinite;
  animation:heart-medium7 4s linear infinite;
  position: absolute;
  left: 90%;
}

@keyframes heart-medium7
{
  0%   { top:20%; }
  10%  { top:-15%; opacity: 0; }
  11%  { top:100%; opacity: 0; }
  100% { top:20%; }
}


/* heart-large */

.heart-large {
  -webkit-animation:heart-large 6s linear infinite;
  animation:heart-large 6s linear infinite;
  position: absolute;
  left: 2%;
}

@keyframes heart-large
{
  0%   { top:40%; }
  40%  { top:-15%; opacity: 0; }
  41%  { top:100%; opacity: 0; }
  100% { top:40%; }
}

/* heart-large2 */

.heart-large2 {
  -webkit-animation:heart-large2 6s linear infinite;
  animation:heart-large2 6s linear infinite;
  position: absolute;
  left: 50%;
}

@keyframes heart-large2
{
  0%   { top:20%; }
  10%  { top:-15%; opacity: 0; }
  11%  { top:100%; opacity: 0; }
  100% { top:20%; }
}

/* heart-large3 */

.heart-large3 {
  -webkit-animation:heart-large3 6s linear infinite;
  animation:heart-large3 6s linear infinite;
  position: absolute;
  left: 55%;
}

@keyframes heart-large3
{
  0%   { top:60%; }
  40%  { top:-15%; opacity: 0; }
  41%  { top:100%; opacity: 0; }
  100% { top:60%; }
}

/* heart-large4 */

.heart-large4 {
  -webkit-animation:heart-large4 6s linear infinite;
  animation:heart-large4 6s linear infinite;
  position: absolute;
  left: 85%;
}

@keyframes heart-large4
{
  0%   { top:60%; }
  40%  { top:-15%; opacity: 0; }
  41%  { top:100%; opacity: 0; }
  100% { top:60%; }
}


/* heart-outline */

.heart-outline {
  -webkit-animation:heart-outline 7s linear infinite;
  animation:heart-outline 7s linear infinite;
  position: absolute;
  left: 5%;
}

@keyframes heart-outline
{
  0%   { top:50%; }
  40%  { top:-15%; opacity: 0; }
  41%  { top:100%; opacity: 0; }
  100% { top:50%; }
}

/* heart-outline2 */

.heart-outline2 {
  -webkit-animation:heart-outline2 7s linear infinite;
  animation:heart-outline2 7s linear infinite;
  position: absolute;
  left: 15%;
}

@keyframes heart-outline2
{
  0%   { top:105%; }
  90%  { top:-15%; opacity: 0; }
  91%  { top:100%; opacity: 0; }
  100% { top:105%; }
}

/* heart-outline3 */

.heart-outline3 {
  -webkit-animation:heart-outline3 7s linear infinite;
  animation:heart-outline3 7s linear infinite;
  position: absolute;
  left: 25%;
}

@keyframes heart-outline3
{
  0%   { top:40%; }
  40%  { top:-15%; opacity: 0; }
  41%  { top:100%; opacity: 0; }
  100% { top:40%; }
}

/* heart-outline4 */

.heart-outline4 {
  -webkit-animation:heart-outline4 7s linear infinite;
  animation:heart-outline4 7s linear infinite;
  position: absolute;
  left: 90%;
}

@keyframes heart-outline4
{
  0%   { top:20%; }
  10%  { top:-15%; opacity: 0; }
  11%  { top:100%; opacity: 0; }
  100% { top:20%; }
}

#redText {
  color:red;
}
