@import url(https://fonts.googleapis.com/css?family=Lobster);


/*image scroll*/
body {
  font-family: 'Lobster', cursive;
}


p {
  margin: 0;
}

.section {
  background-size: cover;
  background-position: center;
}

.section-content {
  text-align: center;
  font-size: 3em;
  color: #fff;
}

#section1 {
  background-image:url('https://images.pexels.com/photos/6165/white-rings-decoration-macro.jpg?w=940&h=650&auto=compress&cs=tinysrgb');
}

#section2 {
  background-image:url('https://scontent-dft4-2.xx.fbcdn.net/v/t1.0-9/13669237_10153930609964601_7338399956499362547_n.jpg?oh=f2654e5bf471fb27509557f74e7f71ed&oe=59C15042');
}

#section3 {
  background-image:url('https://scontent-dft4-2.xx.fbcdn.net/v/t1.0-9/15181510_10154262470409601_4586086021275848529_n.jpg?oh=84bb7943561d83d63d363a57b0a8436a&oe=59BFE3E0');
}

#section4 {
  background-image:url('https://scontent-dft4-2.xx.fbcdn.net/v/t1.0-9/15698249_10154374849389601_6075193617584816392_n.jpg?oh=c33306a3f744460ff52f1f174a20c21f&oe=59B7F0CB');
}

/*floating images*/
* {
  box-sizing: border-box;
}

body {
  background: #16161d;
  margin: 0;
  overflow: hidden;
}

#parallax-container {
  perspective: 1200px;
  height: 100vh;
  width: 100vw;
  transform-style: preserve-3d;
}

#parallax-container img {
  transform-origin: center;
  box-shadow: 0 0 12px 12px rgba(0, 0, 0, 0.4);
  position: relative;
}
