@import url(https://fonts.googleapis.com/css?family=Lobster);

html {
   background-image:url('/images/married4.png');
   background-image: no-repeat center center fixed;
     -webkit-background-size: cover;
 }

body {
text-shadow: 0 0 3px white, 0 0 15px silver;
  overflow: hidden;
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 3em;
  color: lightgray;
}

/*doors*/
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.doors {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
 }

.doors h2 {
  position: absolute;
  top: 30%;
  width: 100%;
  color: white;
  z-index: 10;
  text-align: center;
  font-size: 80px;
  font-family: "Lobster";
  /*text-transform: uppercase;*/
  /*text-shadow: 5px 0 2px #000 0 5px 0 5px;*/
  text-shadow: 2px 2px 12px rgba(165, 32, 239, 1);
  transition: transform 2s ease-in-out;
}

.doors:hover h2 {
  transform: scale(0);
}

.doors .left {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  box-shadow: 3px 0 4px #111;
  background-image: url("/images/door.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  transition: width 2s ease-in-out;
}
.doors .right {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  box-shadow: 3px 0 4px #111;
  background-image: url("/images/door.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  transform: scaleX(-1);
  transition: width 2s ease-in-out;
}

.doors:hover .left, .doors:hover .right {
  width: 5%;
}

.inner {
  width: 100%;
  height: 100%;
}


/*music*/
#song {
  display: none;
}


/*floating hearts*/
/* heart-small */

.heart-small {
  -webkit-animation:heart-small 5s linear infinite;
  animation:heart-small 5s linear infinite;
  position: absolute;
  left: 5%;
}

@keyframes heart-small {
  0%   { top:60%; }
  60%  { top:-15%; }
  61%  { top:100%; opacity: 0; }
  100% { top:60%; }
}

/* heart-small2 */

.heart-small2 {
  -webkit-animation:heart-small2 5s linear infinite;
  animation:heart-small2 5s linear infinite;
  position: absolute;
  left: 8%;
}

@keyframes heart-small2 {
  0%   { top:20%; }
  20%  { top:-15%; opacity: 0; }
  21%  { top:100%; opacity: 0; }
  100% { top:20%; }
}

/* heart-small3 */

.heart-small3 {
  -webkit-animation:heart-small3 5s linear infinite;
  animation:heart-small3 5s linear infinite;
  position: absolute;
  left: 25%;
}

@keyframes heart-small3
{
  0%   { top:105%; }
  98%  { top:-15%; }
  99%  { top:100%; opacity: 0; }
  100% { top:105%; }
}

/* heart-small4 */

.heart-small4 {
  -webkit-animation:heart-small4 5s linear infinite;
  animation:heart-small4 5s linear infinite;
  position: absolute;
  left: 28%;
}

@keyframes heart-small4
{
  0%   { top:40%; }
  40%  { top:-15%; opacity: 0; }
  41%  { top:100%; opacity: 0; }
  100% { top:40%; }
}

/* heart-small5 */

.heart-small5 {
  -webkit-animation:heart-small5 5s linear infinite;
  animation:heart-small5 5s linear infinite;
  position: absolute;
  left: 50%;
}

@keyframes heart-small5
{
  0%   { top:50%; }
  50%  { top:-15%; opacity: 0; }
  51%  { top:100%; opacity: 0; }
  100% { top:50%; }
}

/* heart-small6 */

.heart-small6 {
  -webkit-animation:heart-small6 5s linear infinite;
  animation:heart-small6 5s linear infinite;
  position: absolute;
  left: 70%;
}

@keyframes heart-small6
{
  0%   { top:25%; }
  25%  { top:-15%; opacity: 0; }
  26%  { top:100%; opacity: 0; }
  100% { top:25%; }
}

/* heart-small7 */

.heart-small7 {
  -webkit-animation:heart-small7 5s linear infinite;
  animation:heart-small7 5s linear infinite;
  position: absolute;
  left: 80%;
}

@keyframes heart-small7
{
  0%   { top:50%; }
  50%  { top:-15%; opacity: 0; }
  51%  { top:100%; opacity: 0; }
  100% { top:50%; }
}

/* heart-small8 */

.heart-small8 {
  -webkit-animation:heart-small8 5s linear infinite;
  animation:heart-small8 5s linear infinite;
  position: absolute;
  left: 95%;
}

@keyframes heart-small8
{
  0%   { top:105%; }
  98%  { top:-15%; opacity: 0; }
  99%  { top:100%; opacity: 0; }
  100% { top:105%; }
}


.heart-medium {
  -webkit-animation:heart-medium 4s linear infinite;
  animation:heart-medium 4s linear infinite;
  position: absolute;
  left: 5%;
}

@keyframes heart-medium
{
  0%   { top:105%; }
  98%  { top:-15%; }
  99%  { top:100%; opacity: 0; }
  100% { top:105%; }
}

/* heart-medium2 */

.heart-medium2 {
  -webkit-animation:heart-medium2 4s linear infinite;
  animation:heart-medium2 4s linear infinite;
  position: absolute;
  left: 20%;
}

@keyframes heart-medium2
{
  0%   { top:20%; }
  20%  { top:-15%; opacity: 0; }
  21%  { top:100%; opacity: 0; }
  100% { top:20%; }
}

/* heart-medium3 */

.heart-medium3 {
  -webkit-animation:heart-medium3 4s linear infinite;
  animation:heart-medium3 4s linear infinite;
  position: absolute;
  left: 23%;
}

@keyframes heart-medium3
{
  0%   { top:60%; }
  40%  { top:-15%; opacity: 0; }
  41%  { top:100%; opacity: 0; }
  100% { top:60%; }
}

/* heart-medium4 */

.heart-medium4 {
  -webkit-animation:heart-medium4 4s linear infinite;
  animation:heart-medium4 4s linear infinite;
  position: absolute;
  left: 35%;
}

@keyframes heart-medium4
{
  0%   { top:40%; }
  40%  { top:-15%; opacity: 0; }
  41%  { top:100%; opacity: 0; }
  100% { top:40%; }
}

/* heart-medium5 */

.heart-medium5 {
  -webkit-animation:heart-medium5 4s linear infinite;
  animation:heart-medium5 4s linear infinite;
  position: absolute;
  left: 75%;
}

@keyframes heart-medium5
{
  0%   { top:40%; }
  40%  { top:-15%; opacity: 0; }
  41%  { top:100%; opacity: 0; }
  100% { top:40%; }
}

/* heart-medium6 */

.heart-medium6 {
  -webkit-animation:heart-medium6 4s linear infinite;
  animation:heart-medium6 4s linear infinite;
  position: absolute;
  left: 80%;
}

@keyframes heart-medium6
{
  0%   { top:60%; }
  40%  { top:-15%; opacity: 0; }
  41%  { top:100%; opacity: 0; }
  100% { top:60%; }
}

/* heart-medium7 */

.heart-medium7 {
  -webkit-animation:heart-medium7 4s linear infinite;
  animation:heart-medium7 4s linear infinite;
  position: absolute;
  left: 90%;
}

@keyframes heart-medium7
{
  0%   { top:20%; }
  10%  { top:-15%; opacity: 0; }
  11%  { top:100%; opacity: 0; }
  100% { top:20%; }
}


/* heart-large */

.heart-large {
  -webkit-animation:heart-large 6s linear infinite;
  animation:heart-large 6s linear infinite;
  position: absolute;
  left: 2%;
}

@keyframes heart-large
{
  0%   { top:40%; }
  40%  { top:-15%; opacity: 0; }
  41%  { top:100%; opacity: 0; }
  100% { top:40%; }
}

/* heart-large2 */

.heart-large2 {
  -webkit-animation:heart-large2 6s linear infinite;
  animation:heart-large2 6s linear infinite;
  position: absolute;
  left: 50%;
}

@keyframes heart-large2
{
  0%   { top:20%; }
  10%  { top:-15%; opacity: 0; }
  11%  { top:100%; opacity: 0; }
  100% { top:20%; }
}

/* heart-large3 */

.heart-large3 {
  -webkit-animation:heart-large3 6s linear infinite;
  animation:heart-large3 6s linear infinite;
  position: absolute;
  left: 55%;
}

@keyframes heart-large3
{
  0%   { top:60%; }
  40%  { top:-15%; opacity: 0; }
  41%  { top:100%; opacity: 0; }
  100% { top:60%; }
}

/* heart-large4 */

.heart-large4 {
  -webkit-animation:heart-large4 6s linear infinite;
  animation:heart-large4 6s linear infinite;
  position: absolute;
  left: 85%;
}

@keyframes heart-large4
{
  0%   { top:60%; }
  40%  { top:-15%; opacity: 0; }
  41%  { top:100%; opacity: 0; }
  100% { top:60%; }
}


/* heart-outline */

.heart-outline {
  -webkit-animation:heart-outline 7s linear infinite;
  animation:heart-outline 7s linear infinite;
  position: absolute;
  left: 5%;
}

@keyframes heart-outline
{
  0%   { top:50%; }
  40%  { top:-15%; opacity: 0; }
  41%  { top:100%; opacity: 0; }
  100% { top:50%; }
}

/* heart-outline2 */

.heart-outline2 {
  -webkit-animation:heart-outline2 7s linear infinite;
  animation:heart-outline2 7s linear infinite;
  position: absolute;
  left: 15%;
}

@keyframes heart-outline2
{
  0%   { top:105%; }
  90%  { top:-15%; opacity: 0; }
  91%  { top:100%; opacity: 0; }
  100% { top:105%; }
}

/* heart-outline3 */

.heart-outline3 {
  -webkit-animation:heart-outline3 7s linear infinite;
  animation:heart-outline3 7s linear infinite;
  position: absolute;
  left: 25%;
}

@keyframes heart-outline3
{
  0%   { top:40%; }
  40%  { top:-15%; opacity: 0; }
  41%  { top:100%; opacity: 0; }
  100% { top:40%; }
}

/* heart-outline4 */

.heart-outline4 {
  -webkit-animation:heart-outline4 7s linear infinite;
  animation:heart-outline4 7s linear infinite;
  position: absolute;
  left: 90%;
}

@keyframes heart-outline4
{
  0%   { top:20%; }
  10%  { top:-15%; opacity: 0; }
  11%  { top:100%; opacity: 0; }
  100% { top:20%; }
}

/*mouse*/
html {
  cursor:url("http://arandas.lxsite.com/images/butterfly.gif"), default;\
}


/*Mouse Trail Tidbit*/
.trail { /* className for the trail elements */
    position: absolute;
    height: 6px; width: 6px;
    border-radius: 3px;
    background: teal;
  }
